name: unit-tests
on:
  pull_request:
    branches:
      - 'dev*'
      - 'releases/v*'
  push:
    branches:
      - 'dev*'
    tags-ignore:
      - '*.*'
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 'v14.18.1'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install and Test
        run: |
          yarn install
          yarn lint
          yarn test

      - name: Uploade CodeCov Report
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 'v14.18.1'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Yarn
        run: npm install -g yarn

      - name: Build lib
        run: |
          yarn install
          yarn build

      - name: Rebuild production node_modules
        run: |
          yarn install --production
          ls node_modules

      - name: artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            lib
            node_modules
